/* basic elements */
* {
	font-weight: normal;
}
html>img{
	clip: rect(0,0,0,0);
}
html,
body {
	margin: 0;
	padding: 0;
}
html {
	background: #000000;
	color: #ffffff;
	height: 100%;
}
body {
	font-family: Garamond, Georgia, serif;
	font-size: 14px;
	line-height: 16px;
	height: 100%;
	min-height: 631px;
	max-height: 731px;
}
img {
	border: 0 none;
}
small {
	font-size: inherit;
}


article,
aside,
canvas,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
	margin: 0;
	padding: 0;
	border: 0 none;
	outline: 0 none;
	text-decoration: none;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
}
abbr,
audio,
embed,
keygen,
mark,
meter,
output,
progress,
time,
video {
	display: inline;
	margin: 0;
	padding: 0;
	border: 0 none;
	outline: 0 none;
	text-decoration: none;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
}
a {
    cursor: pointer;
}

/* link */
:link,
:visited {
	color: #ffffff;
}
:link:hover,
:link:focus,
:link:active,
:visited:hover,
:visited:focus,
:visited:active {
	color: #aaaaaa;
}



/* site-title */
.site-title {
	position: absolute;
	z-index: 3;
	left: 0;
}
.site-title .title {
	margin: 0;
	padding: 0;
}



/* content */
.content {
	position: relative;
	z-index: 0;
	display: block;
	min-width: 980px;
	height: 100%;
	min-height: 631px;
	max-height: 731px;
	background: #ffffff;
	color: #000000;
	overflow: auto;
}
.content::before,
.content::after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}


/* panel */
.floating-mask {
	display: none;
	position: absolute;
	z-index: 2;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	min-width: 980px;
	min-height: 631px;
	max-height: 731px;
	background: url(../img/bg_mask_01.png);
	background: rgba(0, 0, 0, 0.7);
	overflow: hidden;
}
.write .floating-mask {
	background: rgba(0, 0, 0, 0.5);
}
.alert-shown .floating-mask {
	top: 58px;
}
.floating-panel {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -149px 0 0 -185px;
	width: 370px;
	background: #666666 url(../img/bg_panel_body_01.svg);
	color: #ffffff;
	box-shadow: 0 0 7px 1px rgba(0,0,0,0.65);
}
.floating-panel .floating-panel-title {
	margin: 0;
	padding: 10px;
	height: 16px;
	font-size: 15px;
	font-weight: normal;
	background: #333333 url(../img/bg_panel_title_01.png) repeat-x;
}
.floating-panel .floating-panel-body {
	padding: 10px;
}
.floating-panel .floating-panel-body:after {
	content: '';
	display: block;
	clear: both;
}
.floating-panel .floating-panel-close {
	position: absolute;
	top: 10px;
	right: 10px;
}
.floating-panel .floating-panel-close a {
	text-decoration: none;
}
.floating-panel .floating-panel-close :link:before,
.floating-panel .floating-panel-close :visited:before {
	content: url(../img/icon_close_01.png);
	padding-right: 2px;
	vertical-align: -1px;
}
.floating-panel .floating-panel-close :link:hover:before,
.floating-panel .floating-panel-close :visited:hover:before {
	content: url(../img/icon_close_01_h.png);
}

.floating-panel-body .floating-panel-buttons {
	display: none;
	text-align: center;
	margin-top: 15px;
}

.floating-panel-body .floating-panel-buttons input[type=button],
.floating-panel-body .floating-panel-buttons input[type=submit] {
	border-style: none;
	background-color: #000000;
	background:  url(../img/bg_panel_btn-left_01.png) top left no-repeat, 
				 url(../img/bg_panel_btn-right_01.png) top right no-repeat, 
				 url(../img/bg_panel_btn-center_01.png) top left repeat-x;
	color: #ffffff;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	width: 120px;
	margin: 0 7px 0 7px;
	outline: transparent none 0;
}
.floating-panel-body .floating-panel-buttons input[type=button]:active,
.floating-panel-body .floating-panel-buttons input[type=submit]:active,
.floating-panel-body .floating-panel-buttons input[type=button]:focus,
.floating-panel-body .floating-panel-buttons input[type=submit]:focus {
	outline: 1px solid #999999;
}
.floating-panel-body .floating-panel-buttons input[type=button].cancel,
.floating-panel-body .floating-panel-buttons input[type=submit].cancel {
	background: #444444;
	background:  url(../img/bg_panel_cancelbtn-left_01.png) top left no-repeat, 
	url(../img/bg_panel_cancelbtn-right_01.png) top right no-repeat, 
	url(../img/bg_panel_cancelbtn-center_01.png) top center repeat-x;
}
.floating-panel-body .floating-panel-buttons input[type=button].cancel:hover,
.floating-panel-body .floating-panel-buttons input[type=submit].cancel:hover {
	background: #4c4c4c;
	background:  url(../img/bg_panel_cancelbtn-left_01_h.png) top left no-repeat, 
	url(../img/bg_panel_cancelbtn-right_01_h.png) top right no-repeat, 
	url(../img/bg_panel_cancelbtn-center_01_h.png) top center repeat-x; 
}
.floating-panel-body .floating-panel-buttons input[type=button]:hover,
.floating-panel-body .floating-panel-buttons input[type=submit]:hover {
	background: #444444;
	background:  url(../img/bg_panel_btn-left_01_h.png) top left no-repeat, 
	url(../img/bg_panel_btn-right_01_h.png) top right no-repeat, 
	url(../img/bg_panel_btn-center_01_h.png) top center repeat-x;
}
.floating-panel-body .floating-panel-buttons input[type=button][disabled],
.floating-panel-body .floating-panel-buttons input[type=submit][disabled] {
	background-color: #5c5c5c;
}
.floating-panel-body .floating-panel-buttons input[type=button][disabled]:hover,
.floating-panel-body .floating-panel-buttons input[type=submit][disabled]:hover {
	background-color: #5c5c5c;
}
.floating-panel.panel-messagebox {
	text-align: center;
	width: 349px;
	margin-top: -58px;
}
.floating-panel.panel-messagebox .floating-panel-body {
	padding: 14px;
	font-size: 20px;
}
.floating-panel-body .floating-panel-buttons input[type=button],
.floating-panel-body .floating-panel-buttons input[type=submit] {
	margin: 0 10px 0 11px;
}
